body{
    background-color: cornsilk;
}
p{
    background-color: yellowgreen;
    color: tomato;
}
h1{
    background-color: turquoise;
    color: purple;
}
h2{
    background-color: tan;
    color: slategray;
}